<container>
   <row>
      <columns small="12" large="3">
         <img src="https://www.dropbox.com/s/cne9ii5eu9urcd0/slide1.jpg?raw=1">
      </columns>
      <columns small="12" large="3">
         <img src="https://www.dropbox.com/s/5nz5ozny4ileyub/slide2.jpg?raw=1">
      </columns>
      <columns small="12" large="3">
         <img src="https://www.dropbox.com/s/pvwxl3tjl05v5xd/slide3.jpg?raw=1">
      </columns>
      <columns small="12" large="3">
         <img src="https://www.dropbox.com/s/2wznjckiukbntra/slide4.jpg?raw=1">
      </columns>
   </row>
</container>